h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-size: cover;
}

#my_canvas{
 border-style: ridge;
 background-color: rgb(247, 2, 2);
 border-width: 10px;
}
